{% extends 'base.html' %}

{% block contenido %}
<h1 class="w-100 text-center">Inventario de Autos</h1>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Marca</th>
        <th scope="col">Nombre</th>
        <th scope="col">Modelo</th>
        <th scope="col">Color</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for auto in autos %}
        <tr>
          <td scope="col">{{ auto.id }}</td>
          <td scope="col">{{ auto.marca }}</td>
          <td scope="col">{{ auto.nombre }}</td>
          <td scope="col">{{ auto.modelo }}</td>
          <td scope="col">{{ auto.color }}</td>
          <td scope="col">
            <a href="{% url 'eliminarautos' auto.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
