{% extends 'base.html' %}

{% block contenido %}
<h1 class="w-100 text-center">Lista de clientes</h1>
{% if clientes %}
<table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Dirección</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for cliente in clientes %}
        <tr>
          <td scope="col">{{ cliente.id }}</td>
          <td scope="col">{{ cliente.nombre }}</td>
          <td scope="col">{{ cliente.apellido }}</td>
          <td scope="col">{{ cliente.direccion }}</td>
          <td scope="col">{{ cliente.email }}</td>
          <td scope="col">{{ cliente.telefono }}</td>
          <td scope="col" style="width:25%;">
            <a href="{% url 'actualizarcliente' cliente.id %}" class="btn btn-success">Actualizar</a>
            <a href="{% url 'eliminarclientes' cliente.id %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h1 class="w-100 text-center h2">No hay datos</h1>
{% endif %}

  
    
{% endblock %}
