<nav class="navbar sticky-top navbar-dark navbar-expand-md bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Principal</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-md-auto">
      <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="{% url 'autos' %}"
            >Autos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'clientes' %}">Clientes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ingresar Datos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'ingresarautos' %}">Ingresar Autos</a></li>
            <li><a class="dropdown-item" href="{% url 'ingresarclientes' %}">Ingresar Clientes</a></li>
            
          </ul>
        </li>
        
        
      </ul>
    </div>
  </div>
</nav>